<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <typeAliases>
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" /> 
      
      <typeAlias alias="IIpcClient" type="AutomationAnywhere.Ipc.Common.IIpcClient, AutomationAnywhere.Ipc.Common" />
      <typeAlias alias="IIpcServer" type="AutomationAnywhere.Ipc.Common.IIpcServer, AutomationAnywhere.Ipc.Common" />
      
      <typeAlias alias="CopyDataClient" type="AutomationAnywhere.Ipc.Common.IpcClients.CopyDataClient, AutomationAnywhere.Ipc.Common" />
      <typeAlias alias="SharedMemoryClient" type="AutomationAnywhere.Ipc.Common.IpcClients.SharedMemoryClient, AutomationAnywhere.Ipc.Common" />
      <typeAlias alias="SocketClient" type="AutomationAnywhere.Ipc.Common.IpcClients.SocketClient, AutomationAnywhere.Ipc.Common" />
      
      <typeAlias alias="CopyDataServer" type="AutomationAnywhere.Ipc.Common.IpcServers.CopyDataServer, AutomationAnywhere.Ipc.Common" />
      <typeAlias alias="SharedMemoryServer" type="AutomationAnywhere.Ipc.Common.IpcServers.SharedMemoryServer, AutomationAnywhere.Ipc.Common" />
      <typeAlias alias="SocketServer" type="AutomationAnywhere.Ipc.Common.IpcServers.SocketServer, AutomationAnywhere.Ipc.Common" />    
    </typeAliases>
    <container>
      <register type="IIpcClient" mapTo="CopyDataClient" name="cdc">
        <lifetime type="singleton"></lifetime>       
      </register>
      <register type="IIpcClient" mapTo="SharedMemoryClient" name="smc">
        <lifetime type="singleton"></lifetime>
      </register>
      <register type="IIpcClient" mapTo="SocketClient" name="sc">
        <lifetime type="singleton"></lifetime>
      </register>
      <register type="IIpcServer" mapTo="CopyDataServer" name="cdc">
        <lifetime type="singleton"></lifetime>       
      </register>
      <register type="IIpcServer" mapTo="SharedMemoryServer" name="smc">
        <lifetime type="singleton"></lifetime>
      </register>
      <register type="IIpcServer" mapTo="SocketServer" name="sc">
        <lifetime type="singleton"></lifetime>
      </register>
    </container>
  </unity>
</configuration>